<!-- message -->
<div class="modal hide" id="notif">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Notification</h3>
    </div>
    <div class="modal-body">
       
    </div>
    <div class="modal-footer">
        <a href="#" class="pull-left">More message »</a>
        <a href="#" class="btn btn-danger pull-right" data-dismiss="modal">Close ×</a>
    </div>
</div>
<!-- /message -->