<div class="span2">
    <div class="nav-headers"><h3>Dashboard</h3></div>
    <ul class="nav nav-tabs nav-stacked">
        <li class="active"><a href="/"><i class="icon-th-large"></i> Dashboard</a></li>
        <li><a href="http://localhost:10000"><i class="icon-signal"></i> phpMyAdmin</a></li>
        <li><a href="/settings"><i class="icon-user"></i> Settings</a></li>
    </ul>

    <div class="nav-headers"><h3>Configuration</h3></div>
    <ul class="nav nav-tabs nav-stacked">
        <!--li><a href="/conf/new"><i class="icon-plus"></i> Add New</a></li-->
        <li><a href="/conf/list"><i class="icon-user"></i> All</a></li>
    </ul>

    <div class="nav-headers"><h3>Other</h3></div>
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="/php_info"><i class="icon-user"></i> PHP Info</a></li>
        <li><a href="http://github.com/droidphp"><i class="icon-user"></i> Fork on GitHub</a></li>
    </ul>
</div>
